/survey_results_2019
/spark-3.5.1-bin-hadoop3
/Database
/hadoop
python-3.12.1-amd64.exe
phan quang huy - 21IT618.rar
hadoop-3.3.5
/scikitLearn/chapter9/my_mnist.data
/Project/project_phan_loai_ban_tay/train1
/Project/project_phan_loai_ban_tay/train1-dataset-image
/Project/project_phan_loai_ban_tay/GocXoay_1.3_PhanQuangHuy_21SE2_tayall.xlsx
/Project/project_phan_loai_ban_tay/TayTraiPhai2_1.3_PhanQuangHuy_21SE2_tayall.xlsx
/Project/project_phan_loai_ban_tay/traintest
/Project/project_phan_loai_ban_tay/excel
